{% extends 'front/base.html' %}
{% load static %}
{% block content %}

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="contact_bg_box">
      <div class="img-box">
        <img src="{% static 'front/images/contact-bg.jpg' %}" alt="">
      </div>
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Biz bilan bog'laning
        </h2>
      </div>
      <div class="">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <form method="post">
              {% csrf_token %}
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" name="fish" placeholder="To'liq ism" />
                  </div>
                  <div>
                    <input type="email" name="email" placeholder="Elektron pochta " />
                  </div>
                  <div>
                    <input type="text" name="number" placeholder="Tel raqam" />
                  </div>
                  <div class="">
                    <input type="text"name='message' placeholder="Xabar" class="message_input" />
                  </div>
                  <div class="btn-box ">
                    <a href="{% url 'index' %}"><button type="submit">
                      Send
                    </button></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <a class="navbar-brand" href="{% url 'index' %}">
              <span>
                Guarder
              </span>
            </a>
            <p>
              Biz bilan xavfsiz hayot  
            </p>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Biz bilan bog'laning
            </h5>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Andijon
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Tel : +998 902078177
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                farhodbekjaloldinov@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="#">
              <input type="email" placeholder="Elektron pochtangizni kiriting!">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->



{% endblock %}